@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root{    
    --color-base: 61, 61, 61;
    --color-purple: 103, 102, 201;
    --color-red: 255, 46, 133;
    --color-blue: 42, 152, 254;
    --color-gray: 235, 235, 235;
    --color-link: 123, 122, 255;
    --color-bg-main: 255, 255, 255;
    --resource-bg-switch:url('./static/images/common/switch_light.png');
    --resource-bg-switch-mobile:url('./static/images/common/night.png');
  }
  .dark{
    --color-base: 255, 255, 255;
    --color-link: 255, 255, 255;
    --color-bg-main: 18, 18, 18;
    --resource-bg-switch:url('./static/images/common/switch_dark.png');
    --resource-bg-switch-mobile:url('./static/images/common/daylight.png');
  }
}

@layer components {
  .bg-animation {
    filter: blur(69px);
    will-change: transform;
    background: linear-gradient( 135deg, #722ED1 0%, #1677ff 30%, #F5222D 70%, #13C2C2 100% );
    background-size: 200% 200%;
    animation: glow 10s ease infinite;
  }
}

@keyframes glow{
  0%{
    background-position:0 -100%;
  }
  50%{
    background-position:200% 50%;
  }
  100%{
    background-position:0 -100%;
  }
}