@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root{
    --color-base: 61, 61, 61;
    --color-purple: 103, 102, 201;
    --color-red: 255, 46, 133;
    --color-blue: 42, 152, 254;
    --color-gray: 235, 235, 235;
    --color-link: 123, 122, 255;
  }
}